stages:
  - build
  - test
  # - deploy
{%- if cookiecutter.package_docker %}
  # - package
{%- endif %}

{%- if cookiecutter.check_code_quality_in_ci %}

variables:
  UV_VERSION: "0.9"
  PYTHON_VERSION: "3.12"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

uv:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
    # your `uv` commands
    - uv sync --group test
    - uv run pytest tests/ -rsx --verbose --color=yes --cov={{cookiecutter.project_slug}} --cov-report term-missing

.base_ruff:
  stage: build
  interruptible: true
  image:
    name: ghcr.io/astral-sh/ruff:0.14.4-alpine
  before_script:
    - cd $CI_PROJECT_DIR
    - ruff --version

Ruff Check:
  extends: .base_ruff
  script:
    - ruff check --output-format=gitlab > code-quality-report.json
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json

Ruff Format:
  extends: .base_ruff
  script:
    - ruff format --diff
{%- endif %}

# .test-template:
#   stage: test
#   image: swamydev/geo-python:3.12-slim-bookworm
{%- if (cookiecutter.approvaltests_geo_data_root and (cookiecutter.approvaltests_geo_data_at_ci_vm != cookiecutter.approvaltests_geo_data_root)) or cookiecutter.external_pypis %}
  # before_script:
{%- if cookiecutter.approvaltests_geo_data_root and (cookiecutter.approvaltests_geo_data_at_ci_vm != cookiecutter.approvaltests_geo_data_root) %}
    # - ci/setup-approval-testdata.sh
{%- endif %}
{%- if cookiecutter.external_pypis %}
    # - ci/add-pypi-indices.sh ${CI_JOB_TOKEN}
{%- endif %}
{%- endif %}
{%- if cookiecutter.approvaltests_geo_data_root %}
  # after_script:
  #   - mkdir approvals-artifacts
  #   - mv {{ cookiecutter.approvaltests_geo_data_root }}/approved/**/*received* ./approvals-artifacts || true
{%- endif %}
  # coverage: '/^TOTAL.+?(\d+\%)$/'
{%- if cookiecutter.approvaltests_geo_data_root %}
  # artifacts:
  #   when: on_failure
  #   paths:
  #     - ./approvals-artifacts/*received*
  #   expire_in: 1 day
{%- endif %}
  # tags:
{%- if cookiecutter.approvaltests_geo_data_root %}
    # - eodc-storage
{%- else %}
    # - python
{%- endif %}

# test-main:
#   extends: .test-template
#   script:
#     - make uv
#     - make test
#   rules:
#     - if: '$CI_COMMIT_TAG == null'
#       when: always
#
# test-release:
#   extends: .test-template
#   script:
#     - make uv-release
#     - pytest tests/ -rsx --verbose --color=yes --cov={{cookiecutter.project_slug}} --cov-report term-missing --junitxml ./ci-test-results.xml
#     - coverage json
#   rules:
#     - if: '$CI_COMMIT_TAG'
#       when: always
#
# deploy-pypi:
#   stage: deploy
#   image: python:latest
#   needs:
#     - test-release
#   script:
#     - make dist
#     - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
#   rules:
#     - if: $CI_COMMIT_TAG
#       when: on_success
#   tags:
#     - python

{%- if cookiecutter.package_docker %}
# package-docker:
#   stage: package
#   image: docker:24.0.5
#   needs:
#     - deploy-pypi
#     - job: test-release
#   services:
#     - docker:24.0.5-dind
#   before_script:
#     - apk add --no-cache bash
#   script:
#     - ci/deploy-docker-image.sh $CI_JOB_TOKEN $CI_REGISTRY_USER $CI_REGISTRY_PASSWORD $CI_REGISTRY $CI_REGISTRY_IMAGE $CI_COMMIT_TAG
#   rules:
#     - if: $CI_COMMIT_TAG
#       when: on_success
#   tags:
#     - dind
#
# package-trunk-docker:
#   stage: package
#   image: docker:27.1.1
#   needs:
#     - job: test-main
#   services:
#     - docker:27.1.1-dind
#   before_script:
#     - apk add --no-cache bash
#   script:
#     - ci/deploy-trunk-docker-image.sh $CI_JOB_TOKEN $CI_REGISTRY_USER $CI_REGISTRY_PASSWORD $CI_REGISTRY $CI_REGISTRY_IMAGE
#   rules:
#     - if: '$CI_COMMIT_TAG == null'
#       when: on_success
#   tags:
#     - dind
{%- endif %}


