name: Test with coverage

# TODO: Uncomment the next line to activate workflow
# You will need to setup a github token before.
# on: [ push, pull_request ]

jobs:
  test_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the Project
        run: uv sync --locked --all-extras --dev

      - name: Run Tests
        run: |
          uv run --with pytest pytest tests --verbose --color=yes --cov={{cookiecutter.project_slug}} --cov-report term-missing
          git push origin --delete python-coverage-comment-action-data || true

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:{% raw %}
          GITHUB_TOKEN: ${{ github.token }}
          VERBOSE: false{% endraw %}
