name: Test on different platforms

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: "true"

      - name: Install uv and set the python version ${{matrix.python-version}}
        uses: ./github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Install the Project
        run: uv sync --locked --all-extras --dev

      - name: Run Tests
        run: uv run --with pytest pytest tests --verbose --color=yes --cov={{cookiecutter.project_slug}} --cov-report term-missing
